<aside class="l-aside">
  <div class="blk-blogaside">
    <h2 class="ttl-lv02">Recent</h2>
    <dl class="blk-blogaside-datelist">
      <dt>2014.03.12</dt>
      <dd><a href="">省略言葉辞典（Neko mook） 挿絵</a></dd>
      <dt>2014.03.12</dt>
      <dd><a href="">省略言葉辞典（Neko mook） 挿絵</a></dd>
      <dt>2014.03.12</dt>
      <dd><a href="">省略言葉辞典（Neko mook） 挿絵</a></dd>
    </dl>
  </div>
  <div class="blk-blogaside">
    <h2 class="ttl-lv02">Category</h2>
    <ul class="blk-blogaside-list">
      <li><a href="">制作日記</a></li>
      <li><a href="">日記</a></li>
      <li><a href="">お知らせ</a></li>
    </ul>
  </div>
  <div class="blk-blogaside">
    <h2 class="ttl-lv02">Archive</h2>
    <ul class="blk-blogaside-list">
      <li><a href="">2014.03</a></li>
      <li><a href="">2014.02</a></li>
      <li><a href="">2014.01</a></li>
      <li><a href="">2013.12</a></li>
    </ul>
  </div>
</aside>