<div class="nav-aside">
{{!-- {{#inArray page.categories "faq"}}
  faq aside
{{/inArray}}

{{#inArray page.categories "investor"}}
  investor aside
{{/inArray}} --}}
</div>

<div class="banners">
  <ul>
    <li><a href="">banners</a></li>
  </ul>
</div><!-- /banners -->