<header class="l-header">
  <div class="l-inner cf">
    <p class="b-logo"><a href="../"><img src="{{assets}}/img/logo.png" alt=""></a></p>
    <ul class="nav-main">
      <li><a href="../about/" class="is-current">About</a></li>
      <li><a href="../gallery/">Gallery</a></li>
      <li><a href="../works/">Works</a></li>
      <li><a href="../blog/">Blog</a></li>
      <li><a href="../contact/">Contact</a></li>
    </ul>
    <dl class="blk-headerinfo">
      <dt>Event</dt>
      <dd>2014.05.11</dd>
      <dd><a href="" target="_blank">博麗神社例大祭11</a>にサークル参加します。</dd>
    </dl>
  </div>
</header>