---
layout: default.hbs
title: About
categories:
path:
body_id:
body_class: page-about
---
<section>
  <p>ヴィアンヌは、樋口びあの個人サークルです。<br>
  おもに二次創作での「同人雑貨」を、<br>
  即売会などで頒布しています。</p>
  <p>「同人雑貨」とは雑貨風のグッズと意味で、<br>
  わたしが勝手に考えて呼んでいる名称です。</p>

  <section>
    <h2 class="ttl-lv02">Profile</h2>
    <p>樋口びあ<br>
    1986年2月28日 広島生まれ。<br>
    猫ときのことBEMANIシリーズが大好きです。</p>
  </section>
</section>