---
layout: default.hbs
title: Works
categories:
path:
body_id:
body_class: page-works
---
<section class="blk-works-l">
  <h2 class="ttl-lv02">Event</h2>
  <table class="table-outline">
    <tbody>
      <tr>
        <th>2012</th>
        <td>コミックマーケット82</td>
      </tr>
      <tr>
        <th rowspan="3">2010</th>
        <td>コミックマーケット79</td>
      </tr>
      <tr>
        <td>コミックマーケット78</td>
      </tr>
      <tr>
        <td>博麗神社例大祭7</td>
      </tr>
      <tr>
        <th rowspan="2">2009</th>
        <td>博麗神社例大祭5</td>
      </tr>
      <tr>
        <td>コミティア84</td>
      </tr>
      <tr>
        <th rowspan="4">2008</th>
        <td>コミックマーケット73</td>
      </tr>
      <tr>
        <td>紅月ノ宴 弐</td>
      </tr>
      <tr>
        <td>コミックマーケット72</td>
      </tr>
      <tr>
        <td>サンシャインクリエイション36</td>
      </tr>
      <tr>
        <th>2007</th>
        <td>東方不敗小町3</td>
      </tr>
      <tr>
        <th>2006</th>
        <td>紅月ノ宴</td>
      </tr>
    </tbody>
    <caption>※最新順</caption>
  </table>
</section>

<section class="blk-works-r">
  <h2 class="ttl-lv02">Works</h2>
  <table class="table-outline">
    <tbody>
      <tr>
        <th>2013</th>
        <td><a href="">省略言葉辞典（Neko mook） 挿絵</a></td>
      </tr>
      <tr>
        <th>2012</th>
        <td><a href="">FireAlpacaスタートBOOK（玄光社） メイキングイラスト</a></td>
      </tr>
    </tbody>
  </table>
</section>