---
layout: common.hbs
---
{{> header }}

<div class="l-main">
  <div class="l-inner">
    <div class="l-content">
      <h1 class="ttl-lv01">{{page.title}}</h1>
      {{> body }}
    </div><!-- /l-content -->
    {{> aside}}
  </div><!-- /l-inner -->
</div><!-- /main -->

{{> footer }}