<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="ja" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="ja" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="ja" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="ja" class="no-js">
<!--<![endif]-->
<head>
{{> meta}}
</head>

<body{{#if body_id}} id="{{body_id}}"{{/if}}{{#if body_class}} class="{{body_class}}"{{/if}}>
<div class="l-wrapper">

{{> header }}

<div class="l-main">
  <div class="l-inner">
{{> body }}
  </div><!-- /l-inner -->
</div><!-- /main -->

{{> footer }}

</div><!-- /wrapper -->
</body>
</html>